body , h2 {
  font-family: "Montserrat", sans-serif;
}

title, h1 {
  font-family: 'Ubuntu', sans-serif;
}

p {
  color: #696969;
  padding-top: 1.5%;
}

h3 {
  font-weight: 700;
}

h2 {
  font-size: 10rem;
}

/* Title Section */

.title-text {
  line-height: 1.2;
  color: white;
  font-size: 4.5rem;
}

.title-image {
  transform:rotate(25deg);
  height: 700px;
  position: absolute;
  right: 25%;
  top: 20%;
}

/* Features Section */

.features-text {
  color: #696969;
  padding: 0 20%;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #ff4c68;
}

/* Testimonials */
.testimonials-text {
  height: 600px;
  padding: 7% 15%;
}

.testimonial-text {
  font-size: 4rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */

.press-image {
  width: 10%;
  margin: 20px 20px 50px;
}

.row {
  display: inline-block;
}


.box {
  text-align: center;
  padding: 4%;
}

.container {
  padding: 3% 15% 7%;
}



.icn {
  margin: 20px 10px;
}

.pricing-column {
  padding: 2% 2%;
}

.bt1 , .bt2 {
  margin-top: 2.5rem;
}

/* Navigation Bar */

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.cta-h3 {
  font-family: "Montserrat";
  color: #fff;
  font-weight: 700;
}



#title {
  background-color: #ff4c68;
}

#features {
  padding: 7% 15%;
  position: relative;
  background-color: white;
}

#testimonials {

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

#cta {
  background-color: #ff4c68;
  padding: 7% 20%;
  text-align: center;
}

#footer {
  padding: 7% 20%;
  text-align: center;
}

/* Mobile Responsiveness */

@media (max-width: 1185px) {

  .title-image {
    position: static;
    transform: rotate(0);
  }

  .car-text {
    height: 900px;
    padding: 7% 20%;
  }

  .testimonial-image {
    width: 30%;
  }

  .testimonials-text {
    height: 600px;
  }

  .testimonial-text {
    font-size: 2.5rem;
  }

  .press-image {
    width: 30%;
  }

  em {
    font-size: 1.5rem;
  }

  #title {
    text-align: center;
  }
}
